<html>
	<head>
		<link type="text/css" rel="stylesheet" href="image.css">
		<link href="https://fonts.googleapis.com/css?family=Roboto:700&display=swap" rel="stylesheet"> 
		<link href="https://fonts.googleapis.com/css?family=Roboto+Slab:300&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<style type="text/css">
			.jumbotron{
				color: white;
				background: #000000;
			}
				.btn-light{
					background: black;
					color: white
				}
				.btn-success{
					background: black;
				}
				
		</style>

</head>
		<body>
<!--<div class="container">-->
<div class="jumbotron">
<h1>THE CLICK</h1>
	<h4> The orgin of KLICKS     </h4>
	</div>
<div class="sidenav">
  <a href="" class="btn btn-light">About</a>
  <a href="#" class="btn btn-light">Services</a>
  <a href="#" class="btn btn-light">Clients</a>
  <a href="#" class="btn btn-light">Contact</a>
</div>
<ul>
Photography is the process of creating still or moving pictures by recording radiation on a sensitive medium like film or an electronic sensor. The products of photography are called negatives and photographs, the latter being developed from the negatives. Light patterns reflected or emitted by objects activate a sensitive chemical or electronic sensor during a timed exposure usually through a photographic lens in a camera. The camera stores the resulting information chemically or electronically.</ul>
<p>Photographers control the camera and lens to expose the light recording material to the required amount of light to form a latent image (on film) or raw file (in digital camera) which, after due processing, is converted to a usable image. In digital cameras, instead of film, an electronic image sensor based on light-sensitive devices is used. Photography can also be called an art and good photographers often exhibit their oeuvre like artists exhibit their paintings. In fact, the Greek word for photography means ‘drawing with light’</p>
<p>
Wildlife photography is all about capturing animals in their natural habitats. The animals are often photographed in action, such as eating, fighting, or in flight,. Alternatively, more static portraits may be used to show detail of the animal or to depict it in its environment. Captive or controlled animals are often photographed instead of true wild specimens, although it is arguable as to whether this constitutes true wildlife photography.</p>
<p>
The world's largest photography organisations, the Photographic Society of America, the Fédération Internationale de l'Art Photographique and the Royal Photographic Society have agreed on a definition for nature and wildlife photography that will be applied to photography competitions. The techniques of wildlife photography differ greatly from those used in landscape photography. For example, in wildlife photography wide apertures are used to achieve a fast shutter speed, freeze the subject's motion, and blur the backgrounds, while landscape photographers prefer small apertures. Wildlife is also usually shot with long telephoto lenses from a great distance; the use of such telephoto lenses frequently necessitates the use of a tripod (since the longer the lens, the harder it is to handhold). Many wildlife photographers use blinds or camouflage.
</p> 
<a href="Klick.html" class="btn btn-light">           Back to KLICKS</a>
<a href="img.html" class="btn btn-success">           Click for images</a>

	</body>
		</html>

